{% extends 'bloodbank/base.html' %}
{% block content %}
<br><br><br><br>


    <a href="{% url 'bank:bloodbank' %}" class="btn btn-primary"> Bloodbank</a>
    <br>
    <br>
    <a href="{% url 'donoruser' %}" class="btn btn-primary" >Donor List</a>
    <br>
    <br>
    <a href="{% url 'bbpost_home' %}" class="btn btn-primary" >All Post</a>
    <br>
    <br>
    <a href="{% url 'donorreg' %}" class="btn btn-primary">Donor Register</a>
    <br>
    <br>
    <a href="{% url 'mdprofile' %}" class="btn btn-primary">Donor profile</a>
<br>
<br>


{% endblock %}

